@model List<CuaHangQuanAo.Models.CartItem>

<style>
    .btn-custom {
        background-color: #000;
        color: #fff;
        border: none;
        transition: all 0.3s ease;
    }

        .btn-custom:hover {
            background-color: #ffc107;
            color: #000;
        }
</style>


<h2>Giỏ hàng</h2>

@if (!Model.Any())
{
    <div class="d-flex flex-column align-items-center justify-content-center py-5">
        <img src="~/Images/demo/empty.png"
             alt="Empty Cart" width="150" class="mb-4 opacity-75" />

        <h4 class="text-muted mb-3">Giỏ hàng của bạn đang trống</h4>

        <a href="/" class="btn btn-lg btn-custom shadow-sm px-4">
            <i class="bi bi-bag-plus"></i> Bắt đầu mua sắm
        </a>
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ảnh</th>
                <th>Sản phẩm</th>
                <th>Size</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Tổng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="~/images/no-image.png" class="p-3 object-fit-contain" alt="" /></td>
                    <td>@item.ItemsName</td>
                    <td>@item.Size</td>
                    <td>@item.Quantity</td>
                    <td>@item.SellPrice.ToString("N0") VNĐ</td>
                    <td>@item.TotalPrice.ToString("N0") VNĐ</td>
                    <td>
                        <a asp-action="Remove" asp-route-id="@item.ItemsId" asp-route-size="@item.Size" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Tổng cộng: @ViewBag.Total.ToString("N0") VNĐ</h3>

    <a asp-action="Clear" class="btn btn-warning">Xóa toàn bộ giỏ hàng</a>
    <a asp-controller="Orders" asp-action="Checkout" class="btn btn-success">Thanh toán</a>
}
